.App {
  text-align: center;
}

.App-logo {
  height: 100px;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

/*@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/

#appBar {
  background-color: white;
  color: black !important;
}

#appBar button {
  color: black;
  font-family: omnes-pro;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 1px;
}

.sub-menu {
  font-family: omnes-pro !important;
  font-size: 17px !important;
  color: black !important
}

#appBar-footer button {
  color: black;
  font-family: omnes-pro;
  font-size: 14px;
  font-weight: 300;
  line-height: 16px;
  letter-spacing: 1px;
}

.MuiTypography-h2 {
  color: #5D504B;
  padding: 20px;
}

.MuiPagination-root {
  margin: 0 0 0 33% !important;
}

#searchBtn {
  background-color: #7C8D59;
}

#recipeImage {
  max-width: 100%;
}

.ingredientModalImage {
  height: 300px;
}

body {
  background-color: #F6F8FA;
}

#appBar-footer {
  background-color: white;
  color: black !important;
  bottom: 0;
}

#selected {
  text-decoration: underline solid #FF5757 30%;
  border-radius: 20px;
  color: white;
}

#menu-appbar-mobile>.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiMenu-paper.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation8.MuiPopover-paper {
  left: 0 !important
}

.wrapper {
  min-height: 600px;
  height: auto !important;
  height: 100%;
}

@media only screen and (max-width: 800px) {
  .homepageDrawer {
    display: none;
  }
}
#bcgImage {
  background-image: url("./bread.jpg");
}
#bcgImgIng {
  background-image: url("./spicess.jpg");
  height: '100vh' !important
}

